html,
body,
header,
.jarallax {
  height: 100%;
}

@media (min-width: 560px) and (max-width: 740px) {
  html,
  body,
  header,
  .jarallax {
    height: 500px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .jarallax {
    height: 500px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2A48!important;
    }
    .navbar {
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
    }
}

@media (min-width: 769px) {
  .navbar:not(.top-nav-collapse) {
      -webkit-box-shadow: none;
      box-shadow: none;
  }
}

.university-lp .navbar:not(.top-nav-collapse) {
  background: 0 0;
}

.university-lp .navbar, .university-lp .page-footer {
  background-color: #1C2A48;
}

.rgba-black-strong, .rgba-black-strong:after {
    background-color: rgba(0,0,0,.7);
}

.university-lp .jarallax {
    min-height: 600px;
}

.streak.streak-md {
  height: 400px;
}

@media (min-width: 1366px) {
  .streak.streak-photo {
      background-attachment: fixed;
  }
}

.streak.streak-photo {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.streak {
  display: block;
  position: relative;
  overflow: hidden;
  height: 250px;
}

.university-lp .background-r {
  background-color: #f6f6fc;
}

.testimonial-carousel .testimonial {
  margin-right: 23%;
  margin-left: 23%;
}

footer.page-footer h2 {
  font-weight: 600;
  font-size: 3rem;
}

.fa, .fab, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

a.waves-effect, a.waves-light {
  display: inline-block;
}

.btn-blue-2 {
  background: #33b5e5;
}

.btn-floating {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  width: 47px;
  height: 47px;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.btn-floating i {
  font-size: 1.25rem;
  line-height: 47px;
  display: inline-block;
  width: inherit;
  text-align: center;
  color: #fff;
}

.carousel-multi-item .carousel-indicators {
  margin-bottom: -2em;
}

.carousel-multi-item .carousel-indicators li {
  height: 1.25rem;
  width: 1.25rem;
  max-width: 1.25rem;
  background-color: #4285f4;
  margin-bottom: -3.75rem;
}

.carousel .carousel-indicators li {
  width:.625rem;
  height:.625rem;
  -webkit-border-radius:50%;
  border-radius:50%;
  cursor:pointer
}