body {
    font-weight: 400;
    padding-top: 70px;
}

html,
body,
header,
.intro-2 {
    //height: 100%;
    height: 100%;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .intro-2 {
        height: 900px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .intro-2 {
        height: 900px;
    }
}

.creative-lp .btn.pink-gradient, .creative-lp .pink-gradient
{
    background:-webkit-linear-gradient(50deg,#FF5858,#ee4392);
    background:-o-linear-gradient(50deg,#FF5858,#ee4392);
    background:linear-gradient(40deg,#FF5858,#ee4392)
}

.creative-lp .btn-white, .creative-lp .orange-text {
    color: #fb5364!important;
}

.btn-rounded {
    -webkit-border-radius: 10em;
    border-radius: 10em;
}

.creative-lp .fa-2x {
    font-size: 2em;
    margin-bottom: .7rem;
}

.fa, .fas {
    font-weight: 900;
}

@media (min-width: 1366px) {
    .streak.streak-photo {
        background-attachment: fixed;
    }
}

.streak.streak-photo {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.streak.streak-long-2 {
    height: 400px;
}

.streak {
    display: block;
    position: relative;
    overflow: hidden;
    height: 250px;
}

.creative-lp .rgba-gradient .mask {
    background:-webkit-linear-gradient(45deg,rgba(255,88,88,.7),rgba(238,66,146,.8) 100%);
    background:-webkit-gradient(linear,45deg,from(rgba(255,88,88,.7)),to(rgba(238,66,146,.8)));
    background:-o-linear-gradient(45deg,rgba(255,88,88,.7),rgba(238,66,146,.8) 100%);
    background:linear-gradient(45deg,rgba(255,88,88,.7),rgba(238,66,146,.8) 100%)
}

.gallery {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    column-width: 33%;
}

section.team-section .avatar img.rounded-circle {
    max-width: 150px;
}

.section.about::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
}